/* Colored div overlay */
#cover_1 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #000000;
 	color: white;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_2 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #ffffff;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_3 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f8dfc9;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_4 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f6583a;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_5 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f2c4dd;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_6 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f6ece3;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_7 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #204193;
 	color: white;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_8 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #ded531;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_9 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #43174b;
 	color: white;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_10 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f77066;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_11 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #1bb391;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_12 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #fbc6c5;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_13 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #9dd3ca;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_14 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #e6ac39;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_15 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #1ea7e4;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_16 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #19a1ad;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_17 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #ef4072;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_18 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #faa99d;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_19 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #d5e393;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_20 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #1999ba;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_21 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #fd9aaf;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_22 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #af85b8;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_23 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #377412;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_24 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #be115b;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_25 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #664fb9;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_26 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f7b498;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_27 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #4aba6d;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

#cover_28 {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background: #f2b72b;
 	color: black;
    z-index: 100;

    display: none;
    overflow: scroll;
}

/* Stop scrolling of body when full-screen div */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Loading screen */
#container {
	display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #f5f7fb;
    background-image: url('../images/flip_card_loading.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Style */
#title {
	font-family: Univers-Black, sans-serif;
	font-size: 50pt;
	text-align: center;
	margin-top: 12%;
	margin-bottom: 0;
}

#description {
	margin-top: 5%;
	margin-bottom: 8%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
}

#blurb {
	font-family: Univers-Bold, sans-serif;
	font-size: 25pt;
	margin-bottom: 5%;
}

#instructions {
	font-family: Univers-Cn-Regular-Italic, sans-serif;
	font-size: 12pt;
	color: gray;
}

.poster_number {
	margin-left: 10px;
}

.gallery_poster {
	width: 100%;
}

.card {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 25px;
	height: 100%;
}

/* Formatting of additional information */
.name {
	text-align: center;
	font-family: Univers-Black, sans-serif;
	margin-top: 13%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	font-size: 50pt;
}

.dates {
	text-align: center;
	font-family: Univers-Bold, sans-serif;
	margin-top: 3%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	font-size: 10pt;
}

.quote {
	text-align: center;
	font-family: Univers-Regular-Italic, sans-serif;
	margin-top: 1.5%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 10%;
	margin-right: auto;
	font-size: 10pt;
}

.primary_info {
	font-family: Univers-Bold, sans-serif;
	margin-top: 5%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	font-size: 10pt;
}

.intermediate_info {
	font-family: Univers-Regular, sans-serif;
	margin-top: 1%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	font-size: 11pt;
}

.paragraph {
	font-family: Univers-Regular-Italic, sans-serif;
	margin-top: 10%;
	width: 80vw;
	margin-left: auto;
	margin-bottom: 13%;
	margin-right: auto;
	font-size: 10pt;
}

/* Font */
.back_content {
}

@font-face {
  font-family: "Univers-Black";
  src: url(../fonts/UniversLTStd-Black.otf);
}

@font-face {
  font-family: "Univers-Bold";
  src: url(../fonts/UniversLTStd-Bold.otf);
}

@font-face {
  font-family: "Univers-Bold-Italic";
  src: url(../fonts/UniversLTStd-BoldObl.otf);
}

@font-face {
  font-family: "Univers-Regular";
  src: url(../fonts/UniversLTStd.otf);
}

@font-face {
  font-family: "Univers-Regular-Italic";
  src: url(../fonts/UniversLTStd-Obl.otf);
}

@font-face {
  font-family: "Univers-Cn-Regular-Italic";
  src: url(../fonts/UniversLTStd-CnObl.otf);
}

@font-face {
  font-family: "Univers-Cn-Light";
  src: url(../fonts/UniversLTStd-LightCn.otf);
}

/* Side bar navigation */
#mobile_nav {
    list-style-type: none;
	right: 0;
	bottom:0;
	position: fixed;
	z-index: 1;
	margin-right: 10px;
}

.side_number, .side_number:hover, .side_number:active, .side_number:visited {
	height: 2.75vh;
	display: block;
	text-decoration:none;
	font-family: Univers-Cn-Light, sans-serif;
	color:gray;
	text-align:center;
	width:30px;
}

.poster_number {
	font-family: Univers-Cn-Light, sans-serif;
	color: gray;
	font-size: 8pt;
	margin-top: 3%;
	margin-bottom: 0;
}

/* Credits */
hr {
    display: block;
    height: 1px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    border-top: 5px solid gray;
    padding: 0;
}

#credits {
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: 50px;
	margin-right: 50px;

}

.credit_image {
	text-decoration: none;
	width: 25vw;
}

.credits_link {
	text-decoration: none;
}

#credits_container_1 {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 0;
	margin-right: 3vw;
}

#credits_container_2 {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 3vw;
	margin-right: 3vw;
}

#credits_container_3 {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 3vw;
	margin-right: 0;
}