/* Colored div overlay */
#cover_one {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: #f95732;
    z-index: 100;

    display: none;
}

/* Stop scrolling when full-screen div */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Loading screen */
#container {
	display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #f5f7fb;
    background-image: url('../images/flip_card_loading.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Style */
#title {
	font-weight: 900;
	font-size: 4em;
	text-align: center;
	margin-top: 7%;
	margin-bottom: 0;
}

#description {
	margin-top: 5%;
	margin-bottom: 8%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
}

#blurb {
	font-weight: 800;
	margin-bottom: 5%;
}

#instructions {
	font-weight: 600;
	font-style: italic;
	font-size: 0.75em;
}

.poster_number {
	margin-left: 10px;
}

.gallery_poster {
	width: 100%;
}

.card {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 25px;
	height: 100%;
}

/* Card back */
.back:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Formatting of additional information */
.primary_info {
	margin-top: 10%;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
}

.intermediate_info {
	margin-top: 5%;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}

/* Font */
* {
	font-family: 'Catamaran', sans-serif;
	margin: 0;
	padding: 0;
}

.back_content {
}

/* Side bar navigation */
#mobile_nav {
    list-style-type: none;
	right: 0;
	top:0;
	position: fixed;
	height:50%;
	z-index: 1;
	margin-right: 10px;
}

.nav_list {	
	height: 3.84615384615%;
	min-height: 20px;
	display: block;
}

.side_number, .side_number:hover, .side_number:active, .side_number:visited {
	padding-top:75%;
	display: block;
	text-decoration:none;
	color:gray;
	text-align:center;
	width:30px;
}

/* Flip to colored boxes */
div#back_1 {
	background-color: #f95732;
}

div#back_2 {
	background-color: #f23d70;
}

div#back_3 {
	background-color: #eed6be;
}

div#back_4 {
	background-color: #d2e0d3;
}

div#back_5 {
	background-color: #ffffff;
}
